.greet{
    text-align: center;
    margin: 20px 20px;
    background-color: aqua;
    color:black;
}

#fName{
    text-align: center;
}

.radioInfo{
    text-align: center;
    margin: 30px 5px;
}

/* .greetBtn{
    text-align: center;
} */
.button{
    text-align: center;
}
.printResults{
    margin: 20px 20px;
    background-color: aqua;
    text-align: center;
    font-size: larger;
}
.greetCount{
    text-align: center;
    font-size: larger;
    font: 250;
}
.clear_Button{
    text-align: center;
    margin: 20px;
}